<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<footer class="footer">
    <div class="logo">
      <img src="imgs/footer.png" alt="Logo de Jelly Belly">
    </div>
    <nav class="site-map">
      <h3>Site Map</h3>
      <ul>
        <li><a href="#">About Jelly Belly page</a></li>
        <li><a href="#">Beans</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Combinations</a></li>
      </ul>
    </nav>
    <div class="data-accuracy">
        <h3>Sweet Accuracy</h3>
        <p>We strive to provide accurate and delightful information about Jelly Belly flavors, but some details might vary. Enjoy responsibly and explore the sweetness with curiosity!</p>
        
    </div>
    <p class="copyright">Copyright © 2024 JellyBelly. Reserved.</p>
  </footer>
