* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
}

.navbar {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem 2rem;
    background-color: #f9f5f4;
    color: white;
    z-index: 1000; 
}

.navbar .logo {
    display: flex;
    align-items: center; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #ec3033;
    text-decoration: none;
    padding: 0.5rem 1rem; 
    border: 2px solid transparent; 
    border-radius: 20px; 
    transition: all 0.3s ease; 
}

.nav-links a:hover {
    background-color: #f9f5f4; 
    border-color: #ec3033; 
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 12%; 
    height: auto;
    margin-right: 10px; 
}
